// HEADER SECTION

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media only screen and (max-width: $bp-medium) {
        display: block;    
    }
}

.nav {
    flex: 1 0 auto;     
    
    &__list {
        list-style: none; 
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        flex-wrap: wrap;  
    
            

    }

    &__item {
        @media only screen and (max-width: $bp-small) {
            flex: 1 1 50%;  
            text-align: center;        
        } 
    }

    



    &__link {
        font-size: 1.5rem;  
        font-family: var(--primary-font);   
        text-decoration: none;  
        color: rgba(#333, .5);  
        font-weight: 300;  
        transition: all .2s; 

        
        
        &--active {
            color: var(--color-dark);    
            font-weight: 700; 
            font-size: 1.6rem;  
            transition: all .2s;
            
            &:hover {
                color: #eee;  
            }
        } 
        
        &:hover, &:active {
            color: var(--color-dark); 
            text-decoration: underline;     
        }

    }
}


// Intro section 
.intro  {
    padding: 1rem; 
     

    &__img {
        width: 70%;   
        margin: 2rem auto;  
        display: block;
        object-fit: cover;
        filter: saturate(150%);  

        @media only screen and (max-width: $bp-medium) {
            width: 80%;     
        }

        @media only screen and (max-width: $bp-small) {
            width: 100%;        
        }

    } 

    &__buttons {
        display: flex;
        justify-content: center; 
        align-items: center;    
        padding: 2rem;  
        
    }
} 



// button 

%btn {
    border-radius: 2rem;    
    padding: .7rem 2.5rem;         
              
}


// Extend link

%link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;  
    font-family: var(--primary-font); 

}


.btn-black {
    @extend %btn; 
    @extend %link; 
    background-color: var(--color-dark); 
    color: #fff; 
    border: 2px solid var(--color-dark);  

    &:hover {
        background-color: rgba(var(--color-dark), .5) ;   
        color: var(--color-dark); 
        border: 2px solid var(--color-dark);  
    }

}

.btn-white {
    @extend %btn;
    background-color: #fff; 
    color: var(--color-dark); 
    border: 2px solid var(--color-dark);  
    @extend %link;  
    margin-left: 2rem;
    
    &:hover { 
        background-color: var(--color-dark); 
        color: #fff;  
    }

}


// Footer Section; 

.footer {
    padding: 2rem; 

    &__link {
        @extend %link; 
        font-size: 2rem; 
        text-transform: uppercase;  
       font-family: 'Dancing Script', cursive; 
       
       &:hover {
           text-decoration: underline;        
       } 

       @media only screen and (max-width: $bp-small) {
            -webkit-text-fill-color: rgba(255, 255, 255, .5);      
    }
    }

    @media only screen and (max-width: $bp-medium) {
        background: linear-gradient(to left, #fc466b, #3f5efb);      
    }
}
